html,
body,
body > div  {
  /* the react root */
  margin: 0;
  padding: 0;
  height: 100%;
}

.TKCalendar-app {
  display: flex;
  min-height: 100%;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.TKCalendar-content {
  display:flex;
  flex-direction: column;
}

.TKCalendar-app-sidebar {
  width: 200px;
  line-height: 1.5;
  background: #eaf9ff;
  border-right: 1px solid #d3e2e8;
}

.TKCalendar-app-sidebar-section {
  padding: 2em;
}

.TKCalendar-app-main {
  flex-grow: 1;
}

.TKCalendar-app-header {
  padding-bottom: 1em;
}

.TKCalendar-app-colors span {
  padding-inline-start: 0.5em;
  padding-inline-end: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-inline-end: 0.5em;
  color:white;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 0.85em;
}

.tkc-dev-container{
  padding-top:3em;
}

.fc {
  /* the calendar root */
  max-width: 1660px;
  margin: 0 auto;
}

.fc .fc-resource-group .fc-datagrid-cell-cushion {
  padding: 4px;
}
.fc-timeline-event:hover {
  cursor: pointer;
}

.fc-event-title a {
  color: white;
  text-decoration: none;
}

.fc-title-wrap {
  width: 100%;
}

.fc-day-sun,
.fc-day-sat {
  background: #e4e4e4;
  width: 32px;
}

.fc-day-today {
  background: lightyellow;
}

.__react_component_tooltip {
  max-width: 250px;
}